@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 2%;
} 