@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
/* font-family: 'Roboto', sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Roboto', sans-serif;
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /*grid-template-rows: repeat(8, 1fr);*/
  /*grid-template-rows: min-content;*/
  font-weight: 500;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  grid-area: 1/1/1/6;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: chartreuse;
  color: red;
}

.main {
  display: flex;
  grid-area: 2/2/5/6;
  justify-content: center;
  background-color: brown;
}

.items{
  display: flex;
  padding-top: 10%;
  height: 700px;
  align-items: center;
  justify-content: center;
}
.img{
  width: 500px;
}

.img-2{
  width: 700px;
}

.img-3{
  width: 700px;
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 5/2/8/6;
  background-color: aqua;
  font-weight: 300;
  font-size: 40pt;
}

.barra-lateral {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: 2/1/8/2;
  background-color: rgb(14, 100, 67);
  padding: 10px 20px;
}

.footer{
  display: grid;
  grid-area: 8/1/9/6;
  background-color: rgb(197, 157, 23);
  padding: 10px 10px;
}

/*.levantar:hover{
  transform: translateY(-10%);
}*/

.navbar{
  width:100vw;
}

.historia{
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  font-size: larger;
}

.parrafo{
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  font-size: larger;
}